main
{
  display : flex;
  flex-direction: row;
}


#textSection
{
  display : flex;
  flex-direction: column;
  
  margin-right: 20px;
  
}

#text
{
  margin-top: 10px;
  margin-left: 3px;
  margin-bottom: -5px;
}

#textArea
{
  width: 400px;
  height: 200px;
  overflow: auto; 
  font-size: 18px;
  margin: 10px;
}

#differentStepButtonContainer
{
  display: flex;
  flex-direction: row;
}

#differentStepButton
{
  margin: 10px;
  margin-top: 24px;
  font-size: 18px;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 12px;

  cursor: pointer;
}

#differentStepInput
{
  width:90px;
  height:30px;
  border: 1px solid black;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 20px;
}

#buttonSection
{
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
  margin-top: -30px;
}

#clipboardButton
{
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin-left: 70px;
}

#clipboardText
{
  margin-top: 0px;
}

#ctrlText
{
  margin-top: -18px;
  font-size: 12px;
}

#pasteButton
{
  width: 100px;
  height: 40px;
  font-size: 18px;
}

#numberSection
{
  
}

#numberContainer
{
  border: 1px solid black;
}


#textNumber
{
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  margin-top: 13px;
}

.numberSubContainer
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.numberOptionsContainer
{
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.startNumber
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin: 10px;
}

.addNumber
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin: 10px;
}

.endNumber
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin: 10px;
}


.startNumberInput
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 15px;
  font-size: 18px;
}

.addNumberInput
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 15px;
  font-size: 18px;
}

.endNumberInput
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 15px;
  font-size: 18px;
}

#containerButtonsNumber
{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
}


#removeNumberButtonContainer
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 0px;
}

#removeNumberButton
{
  width:28px;
  height: 25px
}

#addNumberButtonContainer
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left:235px;
  margin-right: 10px;
  margin-top:0px;
}

#errorSection
{
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: -20px;
  margin-right:-20px;
}

#errorIcon{
  display: none;
  width: 50px;
  height: 50px;
}

#errorDisplay{
  padding-right: -500px;
  margin-right:-20px; 

}


#wordListSection
{

}

#textWordList
{
  margin-bottom: 3px;
}

#wordListContainers
{
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

#wordListContainer
{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.wordListTitle
{
  margin-top: 14px;
  margin-left: 6px;
  margin-bottom: -10px;
  font-size: 16px;
}

.wordListInput
{
  width: 290px;
  height: 80px;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 0px;
}

#containerButtonsWordList
{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}


#removeWordListButtonContainer
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 0px;
}

#removeWordListButton
{
  width:28px;
  height: 25px
}


#addWordListButtonContainer
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left:235px;
  margin-right: 10px;
  margin-top:0px;
}

